option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
    JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8 -Xms512m -Xmx1024m

packages:
  yum:
    java-21-amazon-corretto: []
    curl: []
    docker: []

commands:
  01_install_docker:
    command: |
      # Amazon Linux 2023 호환 도커 설치
      yum install -y docker
      systemctl start docker
      systemctl enable docker
      usermod -a -G docker ec2-user 