files:
  "/tmp/application-monitoring.yml":
    mode: "000644"
    owner: root
    group: root
    content: |
      management:
        endpoints:
          web:
            exposure:
              include: prometheus,health,info,metrics
            base-path: /actuator
        metrics:
          export:
            prometheus:
              enabled: true
          tags:
            application: pick_perfume_be
        endpoint:
          health:
            show-details: always
          prometheus:
            enabled: true

commands:
  01_create_monitoring_config_dir:
    command: "mkdir -p /var/app/current/config"
    ignoreErrors: false
  02_copy_monitoring_config:
    command: "cp /tmp/application-monitoring.yml /var/app/current/config/"
    ignoreErrors: false 