files:
  # 애플리케이션 로그 설정
  "/opt/elasticbeanstalk/tasks/taillogs.d/application.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/application.log

  # 추가 Nginx 액세스 로그 설정
  "/opt/elasticbeanstalk/tasks/taillogs.d/nginx-access.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/access.log

  # 추가 Nginx 에러 로그 설정
  "/opt/elasticbeanstalk/tasks/taillogs.d/nginx-error.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/error.log